In [18]:
import pandas as pd
import numpy as np
import json
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Full_data.csv')

In [3]:
df.head()

,B2,B3,B4,B8,class_3,class_2,.geo,Contributor
0,1390.0,1388.0,1209.0,1546.0,0,0,"{""geodesic"":false,""type"":""Point"",""coordinates""...",AK
1,1429.0,1412.0,1365.0,2034.0,0,0,"{""geodesic"":false,""type"":""Point"",""coordinates""...",AK
2,1656.0,1681.0,1746.0,2707.0,0,0,"{""geodesic"":false,""type"":""Point"",""coordinates""...",AK
3,1556.0,1580.0,1796.0,2492.0,0,0,"{""geodesic"":false,""type"":""Point"",""coordinates""...",AK
4,1500.0,1457.0,1376.0,1907.0,0,0,"{""geodesic"":false,""type"":""Point"",""coordinates""...",AK

In [11]:
# Converting ".geo" column to dict
df['.geo'] = df['.geo'].apply(lambda x: json.loads(x))

In [15]:
# Extracting coordinates from .geo
df['coordinates'] = df['.geo'].apply(lambda x: x['coordinates'])

In [16]:
df.head()

,B2,B3,B4,B8,class_3,class_2,.geo,Contributor,coordinates
0,1390.0,1388.0,1209.0,1546.0,0,0,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[152.34066271011642, -27.55424928861911]"
1,1429.0,1412.0,1365.0,2034.0,0,0,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[152.34057287858803, -27.554788277789584]"
2,1656.0,1681.0,1746.0,2707.0,0,0,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[152.34102203623007, -27.553530636391816]"
3,1556.0,1580.0,1796.0,2492.0,0,0,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[152.34057287858803, -27.553979794033875]"
4,1500.0,1457.0,1376.0,1907.0,0,0,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[152.34084237317325, -27.553800130977052]"

### Train test split

In [41]:
df_train, df_test = train_test_split(df, test_size=0.2, random_state=42, stratify= df['class_3'])

In [42]:
df_train.head()

,B2,B3,B4,B8,class_3,class_2,.geo,Contributor,coordinates
4505,1122.0,1440.0,1754.0,1960.0,2,1,"{'geodesic': False, 'type': 'Point', 'coordina...",NK,"[146.5644056016995, -38.182756404207645]"
5067,450.0,766.0,1002.0,2248.0,2,1,"{'geodesic': False, 'type': 'Point', 'coordina...",EG,"[144.29930361279213, -36.75695038525314]"
9,1323.0,1322.0,1153.0,1464.0,0,0,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[152.34102203623007, -27.554339120147525]"
2623,991.0,1278.0,1672.0,2608.0,1,1,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[143.7278852605637, -37.910746536176255]"
2104,1182.0,1596.0,2192.0,3113.0,1,1,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[143.8925464521428, -37.95476398509811]"

In [43]:
print(df_train.shape)

(4368, 9)

In [44]:
df_test.head()

,B2,B3,B4,B8,class_3,class_2,.geo,Contributor,coordinates
4260,283.0,780.0,727.0,3580.0,2,1,"{'geodesic': False, 'type': 'Point', 'coordina...",MB,"[144.25887942500674, -36.7634182552988]"
391,1180.0,1474.0,1838.0,2488.0,0,0,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[143.59385662017306, -37.98755249296847]"
2137,1014.5,1283.0,1621.0,2593.0,1,1,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[143.85553586243708, -37.94164858194996]"
4787,504.5,782.5,1049.0,2591.0,2,1,"{'geodesic': False, 'type': 'Point', 'coordina...",RJ,"[141.59806955344473, -38.130294791615064]"
3849,475.0,739.0,771.5,2585.5,2,1,"{'geodesic': False, 'type': 'Point', 'coordina...",AK,"[148.49533430491442, -37.748600627392676]"

In [45]:
df_test.shape

(1092, 9)

In [46]:
df['class_2'].value_counts(normalize=True)

1    0.666667
0    0.333333
Name: class_2, dtype: float64

In [40]:
df['class_3'].value_counts(normalize=True)

0    0.333333
1    0.333333
2    0.333333
Name: class_3, dtype: float64

In [47]:
df_train['class_3'].value_counts(normalize=True)

0    0.333333
1    0.333333
2    0.333333
Name: class_3, dtype: float64

In [49]:
# Exporting train and test sets to csv files

df_train.to_csv('train_data.csv', index = False)
df_test.to_csv('test_data.csv', index = False)