In [2]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [25]:
# use your own file path 
data = pd.read_csv('/Users/billhuynh/Downloads/waterpolygonbig.csv')

In [26]:
data.head(10)

,WKT,fid,ID,AreaM2,FEATURETYP
0,MULTIPOLYGON (((149.587854075616 -34.563394674...,1,405106.0,12937.88,Farm Dam Area
1,MULTIPOLYGON (((147.661886235962 -31.222102991...,2,405107.0,432027.63,Farm Dam Area
2,MULTIPOLYGON (((147.62002424048 -31.2314459878...,3,405108.0,599893.35,Farm Dam Area
3,MULTIPOLYGON (((147.985637117727 -31.911455021...,4,405109.0,289723.23,Farm Dam Area
4,MULTIPOLYGON (((147.5328092028 -31.69136948427...,5,405110.0,1144514.80,Farm Dam Area
5,MULTIPOLYGON (((151.111683096468 -32.710675298...,6,405111.0,346973.79,Farm Dam Area
6,MULTIPOLYGON (((149.097691376446 -32.687837619...,7,405112.0,8325.97,Farm Dam Area
7,MULTIPOLYGON (((150.895555673855 -32.337924276...,8,405113.0,141303.23,Farm Dam Area
8,MULTIPOLYGON (((147.59205022723 -31.3898954867...,9,405114.0,2817.86,Farm Dam Area
9,MULTIPOLYGON (((150.485792942897 -34.559961254...,10,405115.0,18154.63,Farm Dam Area

In [27]:
data.shape[0]
len(data)

1725115

In [7]:
1725115/20

86255.75

In [13]:
for i in range(21):
    x = i*86256
    print(x)

0
86256
172512
258768
345024
431280
517536
603792
690048
776304
862560
948816
1035072
1121328
1207584
1293840
1380096
1466352
1552608
1638864
1725120

In [28]:
# dont judge me, for loops require thinking
data1 = data.loc[(data['fid'] >= 0) & (data['fid'] <= 86256)]
data2 = data.loc[(data['fid'] > 86256) & (data['fid'] <= 172512)]
data3 = data.loc[(data['fid'] > 172512) & (data['fid'] <= 258768)]
data4 = data.loc[(data['fid'] > 258768) & (data['fid'] <= 345024)]
data5 = data.loc[(data['fid'] > 345024) & (data['fid'] <= 431280)]
data6 = data.loc[(data['fid'] > 431280) & (data['fid'] <= 517536)]
data7 = data.loc[(data['fid'] > 517536) & (data['fid'] <= 603792)]
data8 = data.loc[(data['fid'] > 603792) & (data['fid'] <= 690048)]
data9 = data.loc[(data['fid'] > 690048) & (data['fid'] <= 776304)]
data10 = data.loc[(data['fid'] > 776304) & (data['fid'] <= 862560)]
data11 = data.loc[(data['fid'] > 862560) & (data['fid'] <= 948816)]

data12 = data.loc[(data['fid'] > 948816) & (data['fid'] <= 1035072)]
data13 = data.loc[(data['fid'] > 1035072) & (data['fid'] <= 1121328)]
data14 = data.loc[(data['fid'] > 1121328) & (data['fid'] <= 1207584)]
data15 = data.loc[(data['fid'] > 1207584) & (data['fid'] <= 1293840)]

data16 = data.loc[(data['fid'] > 1293840) & (data['fid'] <= 1380096)]
data17 = data.loc[(data['fid'] > 1380096) & (data['fid'] <= 1466352)]
data18 = data.loc[(data['fid'] > 1466352) & (data['fid'] <= 1552608)]
data19 = data.loc[(data['fid'] > 1552608) & (data['fid'] <= 1638864)]
data20 = data.loc[data['fid'] > 1638864]

In [29]:
#data1.to_csv(index=False)
data1.to_csv(r'/Users/billhuynh/Downloads/waterpolygon1.csv',index=False)

In [30]:
datatest = pd.read_csv('/Users/billhuynh/Downloads/waterpolygon1.csv')
datatest.head(5)

,WKT,fid,ID,AreaM2,FEATURETYP
0,MULTIPOLYGON (((149.587854075616 -34.563394674...,1,405106.0,12937.88,Farm Dam Area
1,MULTIPOLYGON (((147.661886235962 -31.222102991...,2,405107.0,432027.63,Farm Dam Area
2,MULTIPOLYGON (((147.62002424048 -31.2314459878...,3,405108.0,599893.35,Farm Dam Area
3,MULTIPOLYGON (((147.985637117727 -31.911455021...,4,405109.0,289723.23,Farm Dam Area
4,MULTIPOLYGON (((147.5328092028 -31.69136948427...,5,405110.0,1144514.80,Farm Dam Area

In [31]:
data2.to_csv(r'/Users/billhuynh/Downloads/waterpolygon2.csv',index=False)
data3.to_csv(r'/Users/billhuynh/Downloads/waterpolygon3.csv',index=False)
data4.to_csv(r'/Users/billhuynh/Downloads/waterpolygon4.csv',index=False)
data5.to_csv(r'/Users/billhuynh/Downloads/waterpolygon5.csv',index=False)
data6.to_csv(r'/Users/billhuynh/Downloads/waterpolygon6.csv',index=False)
data7.to_csv(r'/Users/billhuynh/Downloads/waterpolygon7.csv',index=False)
data8.to_csv(r'/Users/billhuynh/Downloads/waterpolygon8.csv',index=False)
data9.to_csv(r'/Users/billhuynh/Downloads/waterpolygon9.csv',index=False)
data10.to_csv(r'/Users/billhuynh/Downloads/waterpolygon10.csv',index=False)
data11.to_csv(r'/Users/billhuynh/Downloads/waterpolygon11.csv',index=False)
data12.to_csv(r'/Users/billhuynh/Downloads/waterpolygon12.csv',index=False)
data13.to_csv(r'/Users/billhuynh/Downloads/waterpolygon13.csv',index=False)
data14.to_csv(r'/Users/billhuynh/Downloads/waterpolygon14.csv',index=False)
data15.to_csv(r'/Users/billhuynh/Downloads/waterpolygon15.csv',index=False)
data16.to_csv(r'/Users/billhuynh/Downloads/waterpolygon16.csv',index=False)
data17.to_csv(r'/Users/billhuynh/Downloads/waterpolygon17.csv',index=False)
data18.to_csv(r'/Users/billhuynh/Downloads/waterpolygon18.csv',index=False)
data19.to_csv(r'/Users/billhuynh/Downloads/waterpolygon19.csv',index=False)
data20.to_csv(r'/Users/billhuynh/Downloads/waterpolygon20.csv',index=False)

In [32]:
data1new = data.loc[(data['fid'] >= 0) & (data['fid'] <= 1000)]

In [33]:
data1new.to_csv(r'/Users/billhuynh/Downloads/waterpolygonsmall.csv',index=False)